# R files
.Rhistory
.RData
.Rproj.user
*.Rproj

# Quarto render files
.quarto/
*_files/


# Data cache
*_cache/

# Tigris cache
tigris_cache/

# Mac
.DS_Store

# Windows
Thumbs.db

# RStudio
.Renviron

# Temporary files
*.tmp
*~

/.quarto/
**/*.quarto_ipynb
